/* GENERAL */
body {
  background: #ffe0ff;
  min-height:100vh;
  color:#330000;
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.3s ease;
}

/* Navbar */
.navbar {
  background: #330000 !important;
  font-weight: 600;
  font-size: 1.1rem;
}
.navbar a.nav-link { color: white !important; }
.navbar a.nav-link:hover { color: #ff9ec2 !important; }
.navbar-toggler { border-color: #fff; }
.navbar-toggler-icon { filter: invert(1); }

/* Hover tarjeta login y geo */
.hover-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hover-card:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

/* API Cards */
.api-card {
  background-color: #ffffff;
  color: #330000;
  padding: 25px 10px;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.api-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0,0,0,0.15);
}

/* API DESCRIPTION */
.api-desc {
  margin-top: 0.5rem;
  padding: 10px;
  border-radius: 10px;
  background: #ffe0f5;
  color: #330000;
  font-family: 'Segoe UI', sans-serif;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

/* Panel login */
.google-btn {
  background:white;
  color: #330000;
  border:none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight:600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-btn img { margin-right: 8px; }
#authCard, #geoCard { border-radius: 18px; padding: 20px; }

/* Contenido secciones */
.content-block { background:white; border: 1px solid #62152d; padding: 25px; border-radius: 20px; transition:0.3s; }

/* Botones redes */
.btn-pink { background-color: #ff69b4; color: white; border: none; }
.btn-pink:hover { background-color: #c33b80; color: white; }

/* Loader */
#loader { display:flex; justify-content:center; align-items:center; }

/* Botones de contacto centrados y tamaño reducido */
#contacto .btn { width: 75%; max-width: 250px; margin: 0 auto; display: block; }

/* Dark mode */
body.dark {
  background:#330000;
  color:white;
}
body.dark .navbar { background:#952f57 !important; }
body.dark .content-block { background:#62152d; color:white; }
body.dark #authCard, body.dark #geoCard { background:#62152d; color:white; }
body.dark .api-card { background:#ca668b; color:white; }
body.dark .api-desc { background:#ff9ec2; color:white; }
body.dark #userEmail { color: white !important; }

/* Hover efecto general */
.hover-effect:hover { transform: translateY(-5px); transition: 0.3s; }
