body {
  background: #ffe0ff;
  min-height:100vh;
  color:#330000;
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.3s ease;
}

.navbar {
  background: #62152d !important;
  font-weight: 600;
}

.navbar-brand #navTitle {
  color: white !important;
  font-weight: 700;
}

.navbar-nav .nav-link {
  color: white !important;
  margin-right: 1rem;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  filter: invert(1);
}

/* Hover tarjeta login y geo */
.hover-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hover-card:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

/* API Cards */
.api-card {
  padding:20px 10px;
  font-weight:bold;
  font-size:16px;
  cursor:pointer;
  border-radius:14px;
  background:#ffa8d9;
  color:#330000;
  transition:0.3s;
}
.api-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* API Desc desplegable */
.api-desc {
  margin-top: 0.5rem;
  padding: 10px;
  border-radius: 10px;
  background: white;
  color: #330000;
  font-family: 'Segoe UI', sans-serif;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

/* Panel login */
#authCard {
  background: #ffe0ff;
  color: #330000;
  border-radius: 18px;
  padding: 20px;
}

.google-btn {
  background:white;
  color: #330000;
  border:none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight:600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-btn img {
  margin-right: 8px;
}

#geoCard {
  background: #ffe0ff;
  color:#330000;
  border-radius:18px;
}

/* Contenido secciones */
.content-block {
  background:white;
  border: 1px solid #62152d;
  padding: 25px;
  border-radius: 20px;
  transition:0.3s;
}

/* Botones redes */
.btn-pink {
  background:#ff69b4;
  color:white;
  border:none;
}
.btn-pink:hover {
  background:#c33b80;
  color:white;
}

/* Loader */
#loader {
  display:flex;
  justify-content:center;
  align-items:center;
}

/* Dark mode */
body.dark {
  background:#330000;
  color:white;
}
body.dark .navbar {
  background:#952f57 !important;
}
body.dark .content-block {
  background:#62152d;
  color:white;
}
body.dark #authCard, body.dark #geoCard {
  background:#62152d;
  color:white;
}
body.dark .api-card {
  background:#ca668b;
  color:white;
}
body.dark .api-desc {
  background:#ff9ec2;
  color:white;
}
